body{
    background-color: rgb(20, 18, 26);
    color: white;
}
.header{
    padding: 10px;
    max-width: 2000px;
    margin: 0 auto;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}